* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

:root {
  --bg-primary: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  background-color: var(--slate-300);
  max-width: 1440px;
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
}

h2 {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--slate-900);
  margin-top: 15px;
  padding: 0 10px;
}

p {
  text-align: center;
  margin: 15px 0 20px;
  padding: 0 10px;
  color: var(--slate-500);
}

img {
  width: 100%;
  border-radius: 15px;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.hero {
  max-width: 270px;
  height: 500px;
  padding: 13px;
  background: var(--bg-primary);
  border-radius: 15px;
  align-self: center;
  justify-self: center;
  box-shadow: 0px 0px 20px var(--slate-300);
}

@media (max-width: 375px) {
  body {
    padding: 5px;
  }
}
